Binaries
DerivedDataCache
Intermediate
Saved
Content/SoulCity
Content/PN_coniferBushes_I/
Content/PN_FoliageCollection/
Content/MS_PostApocalypticSt/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace