Binaries
DerivedDataCache
Intermediate
Saved
Content/SoulCity
Content/PN_coniferBushes_I/
Content/PN_FoliageCollection/
Content/MS_CyberpunkV2/
Content/MS_UrbAlTutV1/
Content/MS_PostApocalypticSt/
Content/Megascans_2K/
Content/Megascans_4K/
Content/Megascans_ForestUnde_Source/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace