Binaries
DerivedDataCache
Intermediate
Saved
Content/SoulCity
Content/PN_coniferBushes_I/
Content/PN_FoliageCollection/
Content/MS_CyberpunkV2/
Content/MS_UrbAlTutV1/
Content//
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace